.friendList {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #869d96;
  border-radius: 6px;
  padding: 0px;
  background-color: #cce7c9;
  -webkit-box-shadow: -1px 8px 24px 0px rgba(134, 157, 150, 1);
  -moz-box-shadow: -1px 8px 24px 0px rgba(134, 157, 150, 1);
  box-shadow: -1px 8px 24px 0px rgba(134, 157, 150, 1);
}
