.container {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  border: 1px solid #869d96;
  border-radius: 6px;
  padding: 0px;
  background-color: #cce7c9;
  -webkit-box-shadow: -1px 8px 24px 0px rgba(134, 157, 150, 1);
  -moz-box-shadow: -1px 8px 24px 0px rgba(134, 157, 150, 1);
  box-shadow: -1px 8px 24px 0px rgba(134, 157, 150, 1);
}

.transactionHistory {
  margin: 20px;
  width: 360px;
  background-color: #f9f9ed;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(144, 164, 141, 1);
  -moz-box-shadow: 0px 0px 23px 0px rgba(144, 164, 141, 1);
  box-shadow: 0px 0px 23px 0px rgba(144, 164, 141, 1);
  border-collapse: collapse;
}

.header {
  width: calc(100% / 3);
  background-color: #d9dbf1;
  padding: 10px;
}

.itemType {
  padding: 10px;
  text-transform: capitalize;
}

.itemAmount,
.itemCurrency {
  padding: 10px;
  text-align: center;
}

.header,
.itemAmount,
.itemCurrency,
.itemType {
  border: 1px solid #869d96;
}

.itemAmount {
  &.amount {
    text-align: right;
  }
  &.amount::after {
    content: ".00";
  }
}
